/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Rubix Mono One', sans-serif;
}

html {}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.item-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.border {
    border: 1px dashed white;
}

/* !nav */
.nav-menu {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.nav-menu ul li {
    display: inline-block;
    margin: 15px 0;
    list-style: none;
}

.nav-menu ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    line-height: 30px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
    border-radius: 50%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


/* !main */
.full-page {
    height: 100vh;
    position: relative;
}


.title {
    font-size: 50px;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}


